@font-face {
	font-family: 'Ariston';
	src: url('../fonts/Ariston-Normal.eot');
	src: url('../fonts/Ariston-Normal.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Ariston-Normal.woff2') format('woff2'),
		 url('../fonts/Ariston-Normal.woff') format('woff'),
		 url('../fonts/Ariston-Normal.ttf') format('truetype'),
		 url('../fonts/Ariston-Normal.svg#Ariston-Normal') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Pompadur';
	src: url('../fonts/Pompadur.eot');
	src: url('../fonts/Pompadur.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Pompadur.woff2') format('woff2'),
		 url('../fonts/Pompadur.woff') format('woff'),
		 url('../fonts/Pompadur.ttf') format('truetype'),
		 url('../fonts/Pompadur.svg#Pompadur') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
		 url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		 url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
		 url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

